{% extends 'base.html.twig' %}

{% block title %}Hello GetDiscussionController!{% endblock %}

{% block body %}


<div >
     
    <discussion-message data-discussion="{{OneDiscussionByUuid.uuid}}" data-user="{{app.user.id}}"></discussion-message>
    {{ render(controller(
        'App\\Controller\\Message\\SendMessageController::sendMessage', {discussion : OneDiscussionByUuid}
    )) }}    
</div>
{% endblock %}
