

{% block body %}
<div>
    {{form_start(form, {'attr': {'id': 'Message_send_form'}} )}}

        {{form_widget(form.content)}}
        {{form_widget(form.submit)}}



    {{form_end(form)}}

</div>
{% endblock %}
